bin/
dist/
tmp/
.DS_Store
.env
.cache/
certs/
frontend/node_modules/
frontend/dist/
.idea/
release/
*.tsbuildinfo

# local build artifacts
/server
/oopz-live-linux-amd64
/cmd/server/server
/cmd/server/oopz-live-linux-amd64

# frontend
pnpm-lock.yaml
yarn.lock
