[Unit]
Description=Oopz Live Gin Server
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/oopz/oopz-live
EnvironmentFile=/home/oopz/oopz-live/.env
ExecStart=/home/oopz/oopz-live/release/oopz-live-linux-amd64
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
